html, body {
  background-color: gray;
  margin: 0;
}
#draw {
  items-align: center;
  background-color: white;
  width: 100%;
  max-width: 60em;
  height: 100%;
  min-height: 30em;
  border-radius: 0 0 1.5em 1.5em;
  margin: auto; 
  display: flex;
  justify-content: center;
}

.margin-top {
  justify-content: center;
  height: 2.5em;
  background-color: #D6D6D6;
    box-shadow:
    0 0 1em rgba(0,0,0,0.4);
}
